@section StyleSheets{
    <link rel="stylesheet" href="~/Assets/css/CreateVernissage.css?v={random string}" />
}

<div class="create-title">
    <h1>Create vernissage</h1>
</div>
@model ARTiculate.Models.CreateVernissageViewModel
        @using (Html.BeginForm("CreateVernissage", "Studios", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <form id="create-form">
                <div class="input-item" id="title">
                    <h3>Vernissage title</h3>
                    @Html.TextBoxFor(m => m.Vernissage.Title)
                </div>
                <div class="input-item" id="description">
                    <h3>Description</h3>
                    @Html.TextAreaFor(m => m.Vernissage.Description)
                </div>
                <div class="input-item" id="poster">
                    <h3>Poster</h3>
                    @Html.EditorFor(m => m.ImageFile, new { @id = "poster-upload" })
                </div>
                <div class="input-item" id="select-exhibition">
                    <h3>Choose Exhibition</h3>
                    @Html.DropDownListFor(x => Model.SelectedExhibitionId, new SelectList(Model.AllExhibitionsByArtistDictonary, "Key", "Value"), "Choose Exhibition", new { @id = "dropdownlist" })
                </div>
                <div class="input-item" id="date-time">
                    <h3>Start date and time</h3>
                    @Html.EditorFor(m => m.Vernissage.DateTime)
                </div>
                <div class="input-item" id="time">
                    <h3>End time</h3>
                    @Html.EditorFor(m => m.EndTime)
                </div>
                <div class="input-item" id="youtube-link">
                    <h3>Youtube link</h3>
                    @Html.TextBoxFor(m => m.Vernissage.LiveLink)
                    @Html.HiddenFor(m => m.ArtistId, Model.ArtistId)
                </div>
                <div class="input-item" id="submit">
                    <input type="submit" id="submit-btn" name="input-submit" value="Create vernissage" />
                </div>

            </form>
        }