@model ARTiculate.Models.StudioViewModel;
@section StyleSheets{
    <link rel="stylesheet" href="~/Assets/css/studio.css?v={random string}" />
}

<script src="\Assets\js\studio.js"></script>

<div id="imageCloseUp-container">
    <div id="artworkInfo" class="hideInfo">
        <h2 class="artTitle">Title</h2>
        <p class="artDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>
<div id="veil" class="veilHidden"></div>

<h1>@Model.Artist</h1>
<div id="artist-profile">
    <img src="@Url.Content(string.Format(Model.Artist.ProfilePicture))" alt="Alternate Text" />
</div>

<div class="diagonal-box">
    <div class="straight-div">
        <div class="studio-content">


            @if (Model.Exhibitions != null)
            {
                for (int i = 0; i < Model.Exhibitions.Count; i++)
                {
                    <div class="folder">
                        <button class="studio-content-btn" onclick="toggleOpenFolder(this)">
                            <img class="folder-img" src="@Url.Content(string.Format(Model.ListOfArtItemList[i][0].Picture))" alt="Alternate Text" />
                            <div class="studio-content-container">
                                <h2 class="exhibition-name">@Model.Exhibitions[i]</h2>
                            </div>
                        </button>
                        <div class="folder-container">
                            @if (i % 2 == 0)
                            {
                                <div class="arrow-up left"></div>
                            }
                            else
                            {
                                <div class="arrow-up right"></div>
                            }
                            <div class="folder-items">
                                @foreach (var artItem in Model.ListOfArtItemList[i])
                                {
                                    <div class="open-art-item">
                                        <button class="studio-content-btn">
                                            <img src="@Url.Content(string.Format(artItem.Picture))" alt="@artItem.Description,@artItem.Name" onclick="viewImageCloseUp(this)" />
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                }


            }
        </div>

        <div class="divider div-transparent"></div>

        <div class="studio-content" id="open-items">

            @foreach (var image in Model.Artist.ArtItems)
            {
                <div class="open-art-item">
                    <button class="studio-content-btn">
                        <img src="@Url.Content(string.Format(image.Picture))" alt="@image.Description,@image.Name" onclick="viewImageCloseUp(this)" />
                    </button>
                </div>
            }
            @*<div class="open-art-item">
                <button class="studio-content-btn">
                    <img src="~/Assets/Images/PlaceholderIMG.jpg" alt="Alternate Text" onclick="viewImageCloseUp(this)" />
                </button>
            </div>
            <div class="open-art-item">
                <button class="studio-content-btn">
                    <img src="~/Assets/Images/PlaceholderIMG.jpg" alt="Alternate Text" onclick="viewImageCloseUp(this)" />
                </button>
            </div>
            <div class="open-art-item">
                <button class="studio-content-btn">
                    <img src="~/Assets/Images/PlaceholderIMG.jpg" alt="Alternate Text" onclick="viewImageCloseUp(this)" />
                </button>
            </div>
            <div class="open-art-item">
                <button class="studio-content-btn">
                    <img src="~/Assets/Images/PlaceholderIMG.jpg" alt="Alternate Text" onclick="viewImageCloseUp(this)" />
                </button>
            </div>
            <div class="open-art-item">
                <button class="studio-content-btn">
                    <img src="~/Assets/Images/PlaceholderIMG.jpg" alt="Alternate Text" onclick="viewImageCloseUp(this)" />
                </button>
            </div>*@

        </div>

    </div>
</div>
