@model ARTiculate.Models.BaseViewModel;

@section StyleSheets{
    <link rel="stylesheet" href="~/Assets/css/home.css?v={random string}" />
}


<div class="diagonal-box" @*id="hero_div"*@>
    @*<div id="hero_header">
            <h1>WELCOME TO <br /> ARTiculate</h1>
        </div>*@

    <h2 class="diagonal-h2" id="slogan">Where artists and visitors meet</h2>
    <div class="straight-div">

        <div class="button-div">
            <button class="section-btn" id="btn_vernissages" onclick="location.href='@Url.Action("Index", "Vernissages")'"> Vernissages </button>
            <p class="section-info">Meet the Artists and chat in realtime</p>
        </div>

        <div class="button-div">
            <p class="section-info">Enjoy well put together exhibitions during a limited time.</p>
            <button class="section-btn" id="btn_exhibitions" onclick="location.href='@Url.Action("Index", "Exhibitions")'"> Exhibitions </button>
        </div>

        <div class="button-div">
            <button class="section-btn" id="btn_artists" onclick="location.href='@Url.Action("Index", "Studios")'"> Studios </button>
            <p class="section-info">A community for Artists - let the creative juices flow!</p>
        </div>

        <button class="surprise-btn" onclick="location.href='@Url.Action("Exhibition", "Exhibitions", new { ID = 1 })'"> Surprise me! </button>

    </div>
</div>

<h2 class="diagonal-h2" onclick="location.href='@Url.Action("Index", "Vernissages")'">Vernissages<img src="~/Assets/Images/next.png" alt="See more vernissages" /></h2>
<div class="diagonal-box">
    <div class="next-4-content">
        <div class="left4">

            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages",new {Id = 1})'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>VERNISSAGE</h3>
                    <p>IDAG</p>

                    <p>Artist</p>

                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages",new {Id = 2})'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>VERNISSAGE</h3>
                    <p>IDAG</p>

                    <p>Artist</p>

                </div>
            </button>

        </div>
        <div class="right4">
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages",new {Id = 3})'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>VERNISSAGE</h3>
                    <p>IDAG</p>

                    <p>Artist</p>

                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages",new {Id = 4})'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>VERNISSAGE</h3>
                    <p>IDAG</p>

                    <p>Artist</p>

                </div>
            </button>
        </div>
    </div>
</div>

<h2 class="diagonal-h2" onclick="location.href='@Url.Action("Index", "Exhibitions")'">Exhibitions<img src="~/Assets/Images/next.png" alt="See more exhibitions" /></h2>
<div class="diagonal-box">
    <div class="next-4-content">
        <div class="left4">
            <button class="next-4" onclick="location.href='@Url.Action("Exhibition", "Exhibitions")'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Exhibition Titel</h3>
                    <p>28th January - 7th February</p>
                    <p>Artist Name</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("Exhibition", "Exhibitions")'">
                <img src="~/Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Exhibition Titel</h3>
                    <p>28th January - 7th February</p>
                    <p>Artist Name</p>
                </div>
            </button>
        </div>
        <div class="right4">
            <button class="next-4" onclick="location.href='@Url.Action("Exhibition", "Exhibitions")'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Exhibition Titel</h3>
                    <p>28th January - 7th February</p>
                    <p>Artist Name</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("Exhibition", "Exhibitions")'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Exhibition Titel</h3>
                    <p>28th January - 7th February</p>
                    <p>Artist Name</p>
                </div>
            </button>
        </div>
    </div>
</div>

<h2 class="diagonal-h2" onclick="location.href='@Url.Action("Index", "Studios")'">Artists<img src="~/Assets/Images/next.png" alt="See more artists" /></h2>
<div class="diagonal-box">
    <div class="next-4-content">
        <div class="left4">
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new {id = 5 })'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Artist Name</h3>
                    <p>3 active exhibitions</p>
                    <p>1 upcoming vernissage</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new {id = 6 })'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Artist Name</h3>
                    <p>3 active exhibitions</p>
                    <p>1 upcoming vernissage</p>
                </div>
            </button>
        </div>
        <div class="right4">
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new {id = 7 })'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Artist Name</h3>
                    <p>3 active exhibitions</p>
                    <p>1 upcoming vernissage</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new {id = 8 })'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Artist Name</h3>
                    <p>3 active exhibitions</p>
                    <p>1 upcoming vernissage</p>
                </div>
            </button>
        </div>
    </div>
</div>






