<link rel="stylesheet" href="~/Assets/css/home.css?v={random string}" />



<div class="diagonal-box" id="hero_div">
    <div id="hero_header">
        <h1>WELCOME TO <br /> ARTiculate</h1>
    </div>
    <h2 class="diagonal-h2" id="slogan">Where artists and visitors meet</h2>
    <div id="section_divs">

        <div class="section_div">
            <button class="section_btn" id="btn_vernissages" onclick="location.href='@Url.Action("Index", "Vernissages")'"> Vernissages </button>
            <p class="section_info">Meet the Artists and chat in realtime</p>
        </div>

        <div class="section_div">
            <p class="section_info">Enjoy well put together exhibitions during a limited time.</p>
            <button class="section_btn" id="btn_exhibitions" onclick="location.href='@Url.Action("Index", "Exhibitions")'"> Exhibitions </button>
        </div>

        <div class="section_div">
            <button class="section_btn" id="btn_artists"> Artists </button>
            <p class="section_info">A community for Artists - let the creative juices flow!</p>
        </div>

        <button id="surprise_btn" onclick="location.href='@Url.Action("Exhibition", "Exhibitions")'"> Surprise me! </button>

    </div>
</div>

<h2 class="diagonal-h2">Vernissages</h2>
<div class="diagonal-box">
    <div class="next-4-content">
        <div class="left4">
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new {id = 1 })'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Vernissage Titel</h3>
                    <p>28th January 11PM</p>
                    <p>Artist Name</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new {id = 2 })'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Vernissage Titel</h3>
                    <p>28th January 11PM</p>
                    <p>Artist Name</p>
                </div>
            </button>
        </div>
        <div class="right4">
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages",  new {id = 3 })'">)'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Vernissage Titel</h3>
                    <p>28th January 11PM</p>
                    <p>Artist Name</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new {id = 4 })'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Vernissage Titel</h3>
                    <p>28th January 11PM</p>
                    <p>Artist Name</p>
                </div>
            </button>
        </div>
    </div>
</div>

<h2 class="diagonal-h2"> Exhibitions </h2>
<div class="diagonal-box">
    <div class="next-4-content">
        <div class="left4">
            <button class="next-4" onclick="location.href='@Url.Action("Exhibition", "Exhibitions")'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Exhibition Titel</h3>
                    <p>28th January - 7th February</p>
                    <p>Artist Name</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("Exhibition", "Exhibitions")'">
                <img src="~/Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Exhibition Titel</h3>
                    <p>28th January - 7th February</p>
                    <p>Artist Name</p>
                </div>
            </button>
        </div>
        <div class="right4">
            <button class="next-4" onclick="location.href='@Url.Action("Exhibition", "Exhibitions")'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Exhibition Titel</h3>
                    <p>28th January - 7th February</p>
                    <p>Artist Name</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("Exhibition", "Exhibitions")'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Exhibition Titel</h3>
                    <p>28th January - 7th February</p>
                    <p>Artist Name</p>
                </div>
            </button>
        </div>
    </div>
</div>

<h2 class="diagonal-h2"> Artists </h2>
<div class="diagonal-box">
    <div class="next-4-content">
        <div class="left4">
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new {id = 5 })'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Artist Name</h3>
                    <p>3 active exhibitions</p>
                    <p>1 upcoming vernissage</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new {id = 6 })'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Artist Name</h3>
                    <p>3 active exhibitions</p>
                    <p>1 upcoming vernissage</p>
                </div>
            </button>
        </div>
        <div class="right4">
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new {id = 7 })'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Artist Name</h3>
                    <p>3 active exhibitions</p>
                    <p>1 upcoming vernissage</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new {id = 8 })'">
                <img src="Assets/Images/exempelbild.png" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Artist Name</h3>
                    <p>3 active exhibitions</p>
                    <p>1 upcoming vernissage</p>
                </div>
            </button>
        </div>
    </div>
</div>






