@model HomeViewModel

<link rel="stylesheet" href="~/Assets/css/home.css?v={random string}" />


<div class="diagonal-box" @*id="hero_div"*@>
    <div id="hero_header">
            <h1>WELCOME @Model.LoggedInArtist @*TO <br /> ARTiculate bind Inloggad artist*@</h1>
        </div>

    <h2 class="diagonal-h2" id="slogan">Where artists and visitors meet</h2>
    <div class="straight-div">

        <div class="button-div">
            <button class="section-btn" id="btn_vernissages" onclick="location.href='@Url.Action("Index", "Vernissages")'"> Vernissages </button>
            <p class="section-info">Meet the Artists and chat in realtime</p>
        </div>

        <div class="button-div">
            <p class="section-info">Enjoy well put together exhibitions during a limited time.</p>
            <button class="section-btn" id="btn_exhibitions" onclick="location.href='@Url.Action("Index", "Exhibitions")'"> Exhibitions </button>
        </div>

        <div class="button-div">
            <button class="section-btn" id="btn_artists" onclick="location.href='@Url.Action("Index", "Studios")'"> Studios </button>
            <p class="section-info">A community for Artists - let the creative juices flow!</p>
        </div>

        <button class="surprise-btn" onclick="location.href='@Url.Action("Exhibition", "Exhibitions", new { id = Model.RandomizedId })'"> Surprise me! </button>

    </div>
</div>

<h2 class="diagonal-h2">Next 4 Vernissages</h2>
<div class="diagonal-box">
    <div class="next-4-content">
        @if (Model.FutureVernisages.Count > 0)
        {
            <div class="left4">
                @for (int i = 0; i < Model.FutureVernisages.Count && i < 4; i++)
                {
                    if (i % 2 != 0)
                    {
                <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages",new { Model.FutureVernisages[i].Id})'">
                    <img src="@Url.Content(string.Format(@Model.FutureVernisages[i].Poster))" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                        <h3>@Model.FutureVernisages[i].Title</h3>
                        <p>@Model.FutureVernisages[i].DateTime</p>
                        @foreach (var artist in Model.FutureVernisages[i].Artist_Vernisages)
                        {
                            <p>@artist.Artist</p>
                        }
                    </div>
                </button>
                    }
                }
            </div>
            <div class="right4">
                @for (int i = 0; i < Model.FutureVernisages.Count && i < 4; i++)
                {
                    if (i % 2 == 0)
                    {
                        <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages",new { Model.FutureVernisages[i].Id })'">
                            <img src="@Url.Content(string.Format(@Model.FutureVernisages[i].Poster))" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                            <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                                <h3>@Model.FutureVernisages[i].Title</h3>
                                <p>@Model.FutureVernisages[i].DateTime</p>
                                @foreach (var artist in Model.FutureVernisages[i].Artist_Vernisages)
                                {
                                    <p>@artist.Artist</p>
                                }
                            </div>
                        </button>

                    }
                }
            </div>

        }
        else
        {
            <h2 class="diagonal-h2">Next 4 Vernissages</h2>
            <div class="diagonal-box">
                <div class="next-4-content">
                    <p class="nothing-found" >There are no vernissages planned for the moment</p>
                </div>
            </div>
        }
    </div>
</div>

<h2 class="diagonal-h2">Exhibitions</h2>
<div class="diagonal-box">
    <div class="next-4-content">
        @if (Model.Exhibitions.Count > 0)
        {

            <div class="left4">
                @for (int i = 0; i < Model.Exhibitions.Count && i < 4; i++)
                {
                    if (i % 2 != 0)
                    {
                        <button class="next-4" onclick="location.href='@Url.Action("Exhibition", "Exhibitions",new { Model.Exhibitions[i].Id })'">
                            <img src="@Url.Content(string.Format(@Model.Exhibitions[i].Exhibition_ArtItem[@Model.ArtItemsToDisplay[i]].ArtItems.Picture))" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                            <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                                <h3>@Model.Exhibitions[i].Title</h3>
                                <p>@Model.Exhibitions[i].DateTime</p>
                                @foreach (var artist in Model.Exhibitions[i].Artist_Exhibitions)
                                {
                                    <p>@artist.Artist</p>
                                }
                            </div>
                        </button>
                    }
                }
            </div>
            <div class="right4">
                @for (int i = 0; i < Model.Exhibitions.Count && i < 4; i++)
                {
                    if (i % 2 == 0)
                    {
                <button class="next-4" onclick="location.href='@Url.Action("Exhibition", "Exhibitions",new { Model.Exhibitions[i].Id })'">
                    <img src="@Url.Content(string.Format(@Model.Exhibitions[i].Exhibition_ArtItem[@Model.ArtItemsToDisplay[i]].ArtItems.Picture))" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                        <h3>@Model.Exhibitions[i].Title</h3>
                        <p>@Model.Exhibitions[i].DateTime</p>
                        @foreach (var artist in Model.Exhibitions[i].Artist_Exhibitions)
                        {
                            <p>@artist.Artist</p>
                        }
                    </div>
                </button>

                    }
                }
            </div>

        }
        else
        {
            <h2 class="diagonal-h2">Exhibitions</h2>
            <div class="diagonal-box">
                <div class="next-4-content">
                    <p class="nothing-found" >There are no exhibitions for the moment</p>
                </div>
            </div>
        }
    </div>
</div>

<h2 class="diagonal-h2">Artists</h2>
<div class="diagonal-box">
    <div class="next-4-content">
        @if (Model.Artists.Count > 0)
        {

            <div class="left4">
                @for (int i = 0; i < Model.Artists.Count && i < 4; i++)
                {
                    if (i % 2 != 0)
                    {
                        <button class="next-4" onclick="location.href='@Url.Action("Index", "Studios",new { Model.Artists[i].Id })'">
                            <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                            <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                                <h3>@Model.Artists[i]</h3>

                                @foreach (var exhibition in Model.Artists[i].Artist_Exhibitions)
                                {
                                    <p>@exhibition.Exhibition.Title</p>
                                }
                                @foreach (var vernisage in Model.Artists[i].Artist_Vernisages)
                                {
                                    <p>@vernisage.Vernisage.Title</p>
                                }
                            </div>
                        </button>
                    }
                }
            </div>
            <div class="right4">
                @for (int i = 0; i < Model.Artists.Count && i < 4; i++)
                {
                    if (i % 2 == 0)
                    {
                        <button class="next-4" onclick="location.href='@Url.Action("Index", "Studios",new { Model.Artists[i].Id })'">
                            <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                            <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                                <h3>@Model.Artists[i]</h3>

                                @foreach (var exhibition in Model.Artists[i].Artist_Exhibitions)
                                {
                                    <p>@exhibition.Exhibition.Title</p>
                                }
                                @foreach (var vernisage in Model.Artists[i].Artist_Vernisages)
                                {
                                    <p>@vernisage.Vernisage.Title</p>
                                }
                            </div>
                        </button>
                    }
                }
            </div>

        }
        else
        {
            <h2 class="diagonal-h2">Artists</h2>
            <div class="diagonal-box">
                <div class="next-4-content">
                    <p class="nothing-found">There are no artists registred for the moment</p>
                </div>
            </div>
        }
    </div>
</div>








