
@model ARTiculate.Models.AboutVernisageViewModel

@{
    ViewData["Title"] = "Vernissage";
}

@section StyleSheets{ 
    <link rel="stylesheet" href="~/Assets/css/aboutVernissage.css?v={random string}" />
}


<div class="live-title">
    <h1>@Model.Vernisage.Title</h1>
    <img id="live-btn-img" src="../Assets/Images/Livebutton.png">
</div>


<h2 class="diagonal-h2" onclick="location.href='@Url.Action("Studio", "Studios", new {id = @Model.ListOfArtists[0].Id})'">@Model.ListOfArtists[0].Firstname</h2>

<div class="diagonal-box">
    <div id="description-box">
        <h2>About this Vernissage</h2>
        <p>@Model.Vernisage.Description</p>
    </div>
    <img id="poster" src="@Url.Content(string.Format(Model.Vernisage.Poster))" />
</div>

<p id="activeOrNot">@Model.Vernisage.Open</p>

<p id="live-date">@Model.Vernisage.DateTime</p>


@*<script>
    function makeVernissageLive() {
        makeVernissageLive();
    }
    window.onload = makeVernissageLive;
</script>*@