
@model ARTiculate.Models.VernisageViewModel

@{
    ViewData["Title"] = "Vernissage";
}




<link rel="stylesheet" href="~/Assets/css/aboutVernissage.css?v={random string}" />

<div class="live-title">
    <h1>@Model.Vernisage.Title</h1>
    <img id="live-btn-img" src="../Assets/Images/Livebutton.png">
</div>


<h2 class="diagonal-h2">@Model.ListOfArtists[0].Firstname</h2>

<div class="diagonal-box">
    <div id="description-box">
        <h2>About this Vernissage</h2>
        <p>@Model.Vernisage.Description</p>
    </div>
    <img id="poster" src="~/Assets/Images/PlaceholderIMG.jpg" />
</div>

<p id="activeOrNot">@Model.Vernisage.Open</p>


<button id="date-btn" onclick="makeVernissageLive()">
    <p id="live-date">@Model.Vernisage.DateTime</p>
</button>
<button id="link-to-live" onclick="location.href='@Url.Action("Vernissage", "Vernissages", new { id = @Model.Vernisage.Id })'"></button>

<div>
    <button onclick="location.href='@Url.Action("Exhibition", "Exhibitions", new { id = @Model.Vernisage.ExhibitionId})'"></button>
</div>


<button id="date-btn" onclick="makeVernissageLive()">
    <p id="live-date">@Model.Vernisage.DateTime</p>
</button>


<button id="link-to-live" onclick="location.href='@Url.Action("Vernissage", "Vernissages", new { id = @Model.Vernisage.Id })'"></button>


<script>
    function makeVernissageLive() {
        makeVernissageLive();
    }
    window.onload = makeVernissageLive;
</script>