
<link rel="stylesheet" href="~/Assets/css/vernissages.css?v={random string}" />
<h1>Vernissages</h1>

<button class="live-btn" onclick="location.href='@Url.Action("Vernissage", "Vernissages", new { id = 1 })'">
    <div class="live-container">
        <img class="live-btn-img" src="Assets/Images/Livebutton.png">
        <div class="live-txt">
            <h2>Live Vernissage title</h2>
            <h3>Live Vernissage Artist/s</h3>
        </div>
    </div>
</button>





<h2 class="diagonal-h2">Next 4 Vernissages</h2>
<div class="diagonal-box">
    <div class="next-4-content">
        <div class="left4">
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages",new { id = 2 })'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Vernissage Titel</h3>
                    <p>28th January 11PM</p>
                    <p>Artist Name</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages",new { id = 3 })'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Vernissage Titel</h3>
                    <p>28th January 11PM</p>
                    <p>Artist Name</p>
                </div>
            </button>
        </div>
        <div class="right4">
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages",new { id = 4 })'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Vernissage Titel</h3>
                    <p>28th January 11PM</p>
                    <p>Artist Name</p>
                </div>
            </button>
            <button class="next-4" onclick="location.href='@Url.Action("About", "Vernissages", new { id = 5 })'">
                <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <h3>Vernissage Titel</h3>
                    <p>28th January 11PM</p>
                    <p>Artist Name</p>
                </div>
            </button>
        </div>
    </div>
</div>

<h2 class="upcoming-h2">Upcoming Vernissages</h2>
<button class="upcoming" onclick="location.href='@Url.Action("About", "Vernissages", new { id = 6 })'">
    <div class="upcoming-date">
        <p>28</p>
        <p>Jan</p>
    </div>
    <div class="upcoming-txt">
        <p>Vernissage name</p>
        <p>Vernissage Artist/s</p>
    </div>
</button>
<button class="upcoming" onclick="location.href='@Url.Action("About", "Vernissages", new { id = 7 })'">
    <div class="upcoming-date">
        <p>28</p>
        <p>Jan</p>
    </div>
    <div class="upcoming-txt">
        <p>Vernissage name</p>
        <p>Vernissage Artist/s</p>
    </div>
</button>
<button class="upcoming" onclick="location.href='@Url.Action("About", "Vernissages", new { id = 8 })'">
    <div class="upcoming-date">
        <p>28</p>
        <p>Jan</p>
    </div>
    <div class="upcoming-txt">
        <p>Vernissage name</p>
        <p>Vernissage Artist/s</p>
    </div>
</button>
