<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ARTiculate</title>
    <link href="~/Assets/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/css/site.css?v={random string}" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="hidden">ARTiculate</h1>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/Assets/Images/ARTiculate-LOGO.png" />
        </a>
        <div class="search-container-main">
            <form class="search-container" asp-controller="SearchResult" asp-action="Index" method="post" autocomplete="off">
                <div class="search">
                    <button type="submit" class="searchButton">
                        <img class="searchIcon" src="~/Assets/Images/search.png">
                    </button>
                    <input type="text" class="searchTerm" name="searchString" placeholder="Search ..." required>
                </div>
            </form>
        </div>
        <nav>
            <img src="~/Assets/Images/Hamburger.png" onclick="hideOrShowMenu()" />
            <ul id="menu">
                <li onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)" onclick="location.href='@Url.Action("Index", "Home")'">
                    <a asp-area="" asp-controller="Home" asp-action="Index" onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)">Home</a>
                </li>
                <li onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)" onclick="location.href='@Url.Action("Index", "Vernissages")'">
                    <a asp-area="" asp-controller="Vernissages" asp-action="Index" onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)">Vernissages</a>
                </li>
                <li onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)" onclick="location.href='@Url.Action("Index", "Exhibitions")'">
                    <a asp-area="" asp-controller="Exhibitions" asp-action="Index" onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)">Exhibitions</a>
                </li>
                <li onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)" onclick="location.href='@Url.Action("Exhibition", "Exhibitions")'">
                    <a asp-area="" asp-controller="Home" asp-action="Index" onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)">Artists</a>
                </li>
                <li onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)" onclick="location.href='@Url.Action("About", "Vernissages" ,new { id = 2 })'">
                    <a asp-area="" asp-controller="Exhibitions" asp-action="Exhibition" onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)">Take me somewhere new!</a>
                </li>
                <li onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)" onclick="location.href='@Url.Action("Index", "Home")'">
                    <a asp-area="" asp-controller="Home" asp-action="Index" onmouseover="menuHoverIn(this)" onmouseout="menuHoverOut(this)">Artist Login</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-container">
            &copy; 2021 - ARTiculate - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/Assets/js/site.js?v={random string}" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
